# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Editor and IDE specific files
*.vscode/
.idea/
*.swp
*.swo

# Logs and temporary files
*.log
*.tmp

# System files
.DS_Store
Thumbs.db

# Python package files
*.egg
*.egg-info/
dist/
build/
*.whl

# Ignore pytest cache
.pytest_cache/

# Ignore pip cache
pip-wheel-metadata/
